@page "/vehicles"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Microsoft.AspNetCore.Components.Web

@if (State != null)
{
    <div class="container">
        <div class="card rounded-3">
            <div class="overflow-y-hidden table-responsive border-top">
                <table class="mb-0 table table-borderless text-black-50 text-nowrap">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Owner's Name</th>
                            <th scope="col">Manufacturer</th>
                            <th scope="col">Year</th>
                            <th scope="col">Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!State.Value.Vehicles.Any())
                        {
                            <tr class="border-top">
                                <td colspan="100">
                                    <p class="h6 mb-0 p-2 text-muted text-center">There are no vehicles 😅</p>
                                </td>
                            </tr>
                        }
                        @foreach (var vehicle in State.Value.Vehicles)
                        {
                            <tr class="border-top" style="cursor:pointer;" @onclick="() => OnVehicleRowClicked(vehicle)">
                                <td class="align-items-center">
                                    <a class="fw-bold h6 mb-0" href="@($"/vehicles/{vehicle.Id}")">@vehicle.Owner</a>
                                </td>
                                <td class="align-middle">@State.Value.Manufacturers.Single(m => m.Id == vehicle.Manifacturer) </td>
                                <td class="align-middle">@vehicle.Year </td>
                                <td class="align-middle">@State.Value.Categories.Single(m => m.Id == vehicle.Category) </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
