@page "/vehicles"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (State != null)
{
    <div class="container">
        <div class="border-bottom pb-4 mb-4 d-flex align-items-center justify-content-between">
            <div>
                <p class="fw-bold h3 m-0">Vehicles</p>
                <div aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Vehicles</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card rounded-3">
            <div class="overflow-y-hidden table-responsive border-top">
                <table class="mb-0 table table-borderless table-hover text-black-50 text-nowrap">
                    <thead class="table-light">
                        <tr>
                            <th>
                                <div class="d-flex">
                                    <p class="m-0">
                                        Owner
                                    </p>
                                    <p class="align-items-center d-flex m-0 ms-2 text-black-50">
                                        <i class="fa-solid fa-arrow-down-a-z"></i>
                                        <input class="form-check ms-1" type="checkbox" @bind="SortedByOwner" />
                                    </p>
                                </div>
                            </th>
                            <th>
                                <div class="align-items-center d-flex">
                                    <p class="m-0">
                                        Manufacturer
                                    </p>
                                    <select class="form-select form-select-sm ms-1" @bind="SelectedManufacturer">
                                        <option value="" selected disabled hidden>All</option>
                                        @foreach (var manufacturer in State.Value.Manufacturers)
                                        {
                                            <option value="@manufacturer.Id">@manufacturer.Name</option>
                                        }
                                    </select>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex">
                                    <p class="m-0"> Year</p>
                                    <p class="align-items-center d-flex m-0 ms-2 text-black-50">
                                        <i class="fa-solid fa-arrow-down-1-9"></i>
                                        <input class="form-check ms-1" type="checkbox" @bind="Year" />
                                    </p>
                                </div>
                            </th>
                            <th>
                                <div class="align-items-center d-flex">
                                    <p class="m-0">
                                        Category
                                    </p>
                                    <select class="form-select form-select-sm ms-1" @bind="Category">
                                        <option value="" selected disabled hidden>All</option>
                                        @foreach (var category in State.Value.Categories)
                                        {
                                            <option value="@category.Id">@category.Name</option>
                                        }
                                    </select>
                                </div>
                            </th>
                            <th class="text-end">
                                <button class="btn btn-sm btn-outline-danger" @onclick="ClearFilters" disabled="@(!State.Value.HasFilters)">
                                    <span><i class="fa-solid fa-filter-circle-xmark"></i></span>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!State.Value.Vehicles.Any())
                        {
                            <tr class="border-top">
                                <td colspan="100">
                                    <p class="h6 mb-0 p-2 text-muted text-center">There are no vehicles 😅</p>
                                </td>
                            </tr>
                        }
                        @foreach (var vehicle in State.Value.Vehicles)
                        {
                            <tr class="border-top text-black" style="cursor:pointer;" @onclick="() => OnVehicleRowClicked(vehicle)">
                                <td>
                                    <p class="fw-bold h6 mb-0" href="@($"/vehicles/{vehicle.Id}")">@vehicle.Owner</p>
                                </td>
                                <td>@State.Value.Manufacturers.Single(m => m.Id == vehicle.Manifacturer).Name </td>
                                <td>@vehicle.Year </td>
                                @{
                                    var category = State.Value.Categories.Single(m => m.Id == vehicle.Category);
                                }
                                <td colspan="2"><span><i class="@category.Icon"></i></span> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
