@page "/vehicles/{id}"

@using Fluxor.Blazor.Web.Components;

@inherits FluxorComponent

@if (State != null && VehicleListState != null)
{
    @if (State.Value.UnderEdit != null)
    {
        <div class="container">
            <div class="border-bottom pb-4 mb-4 d-flex align-items-center justify-content-between">
                <div>
                    <p class="fw-bold h3 m-0">Vehicles</p>
                    <div aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/vehicles">Vehicles</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> @GenerateCurrentBreadcrumbTitle()</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <p class="fw-bold h6 m-0">General</p>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-12 col-md-6 mt-3">
                            <InputLabel HasError="!State.Value.VehicleValidation.OwnerIsValid" ErrorTitle="Please enter owner name for this vehicle" Label="Owner's name" />
                            <input type="text" autocomplete="off" @bind="Owner" @bind:event="oninput" class="form-control" placeholder="Enter name" />
                        </div>
                        <div class="col-12 col-md-6 mt-3">
                            <InputLabel HasError="!State.Value.VehicleValidation.ManufacturerIsValid" ErrorTitle="Please select a manufacturer for this vehicle" Label="Manufacturer" />
                            <select @bind="Manufacturer" class="form-select form-select-sm">
                                <option value="" selected disabled hidden>Select an icon</option>
                                @foreach (var manufacturer in VehicleListState.Value.Manufacturers)
                                {
                                    <option value="@manufacturer.Id"> @manufacturer.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mt-3">
                            <InputLabel HasError="!State.Value.VehicleValidation.YearIsValid" ErrorTitle="Please set a year for this vehicle" Label="Year" />
                            <input type="number" min="1800" max="@DateTime.Now.Year" autocomplete="off" @bind="Year" @bind:event="oninput" class="form-control form-control-sm" placeholder="Year" />
                        </div>
                        <div class="col-12 col-md-6 mt-3">
                            <InputLabel HasError="!State.Value.VehicleValidation.WeightIsValid" ErrorTitle="Please set a weight for this vehicle" Label="Weight (kg)" />
                            <input type="number" max="@DateTime.Now.Year" autocomplete="off" min="1" @bind="Weight" @bind:event="oninput" class="form-control form-control-sm" placeholder="Weight" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-3">
                <button @onclick="SaveCategory" disabled="@(!State.Value.CanSave)" class="@GenerateBtnClass()">Save</button>
                @if (State.Value.IsNew)
                {
                    <button @onclick="Cancel" class="btn btn-sm btn-outline-secondary">Cancel</button>
                }
                else
                {
                    if (State.Value.HasEdits)
                    {
                        <button @onclick="CancelChanges" class="btn btn-sm btn-outline-secondary ms-3">Cancel changes</button>
                    }
                    else
                    {
                        <button @onclick="Close" class="btn btn-sm btn-outline-secondary ms-3">Close</button>
                    }
                }
            </div>
        </div>
    }
}
