@using Fluxor.Blazor.Web.Components;

@inherits FluxorComponent

@if (State != null && State.Value.UnderEdit != null && Facade != null)
{
    <div class="container">
        <div class="px-3 row">
            <div class="col-12 col-md-6 mt-2">
                <InputLabel HasError="!_validation?.NameIsValid" ErrorTitle="Please set a name for this category" Label="Name" />
                <input @bind="Name" @bind:event="oninput" class="form-control form-control-sm" placeholder="Enter name" />
            </div>
            <div class="col-12 col-md-6 mt-2">
                <div class="d-flex">
                    <InputLabel HasError="!_validation?.IconIsValid" ErrorTitle="Please set an icon for this category" Label="Icon" />
                    @if (!string.IsNullOrWhiteSpace(Icon))
                    {
                        <span class="text-black-50 ms-2 small text-decoration-underline" @onclick="ResetIcon" style="cursor:pointer">reset</span>
                    }
                </div>
                @if (!string.IsNullOrWhiteSpace(Icon))
                {
                    <span><i class="@Icon"></i></span>
                }
                else
                {
                    <select class="form-select form-select-sm ms-1 font-awesome-select" @bind="Icon">
                        <option value="" selected disabled hidden>Select an icon</option>
                        <optgroup label="Light">
                            <option value="fa-solid fa-motorcycle"> <p>&#xf21c;</p></option>
                        </optgroup>
                        <optgroup label="Medium">
                            <option value="fa-solid fa-car-side"><p>&#xf1b9;</p></option>
                        </optgroup>
                        <optgroup label="Heavy">
                            <option value="fa-solid fa-truck"><p>&#xf0d1;</p></option>
                        </optgroup>
                    </select>
                }
            </div>
            <div class="col-12 col-md-6 mt-2">
                @{
                    string minWeightlabel = $"Min weight (kgs) {MinWeight?.ToString("0.00")}";
                    string maxWeightlabel = $"Max weight (kgs) {MaxWeight?.ToString("0.00")}";
                }

                <InputLabel HasError="!_validation?.MinWeightIsValid" ErrorTitle="Please set a minimum weight for this category" Label="@minWeightlabel" />
                <input type="number" step="0.01" class="form-control form-control-sm" min="0" max="@_minWeightMax" @bind="MinWeight" @bind:event="oninput" />
                <MatSlider @bind-Value="@MinWeight" Step="(float)0.01" EnableStep="true" ValueMin="0" ValueMax="_minWeightMax" Pin="true" TValue="float?" Discrete="true"></MatSlider>
            </div>
            <div class="col-12 col-md-6 mt-2">
                <InputLabel HasError="!_validation?.MaxWeightIsValid" ErrorTitle="Please set a maximum weight for this category" Label="@maxWeightlabel" />
                <input type="number" class="form-control form-control-sm" min="@_maxWeightMax" max="10000" step="0.01" @bind="MaxWeight" @bind:event="oninput" />
                <MatSlider @bind-Value="@MaxWeight" Step="(float)0.01" EnableStep="true" ValueMin="_maxWeightMax" ValueMax="10000" Pin="true" TValue="float?" Discrete="true"></MatSlider>
            </div>
        </div>

        <div class="m-3">
            @if (!State.Value.IsNew)
            {
                <button @onclick="DeleteCategory" class="btn btn-sm btn-outline-danger">Delete</button>
            }
        </div>
    </div>
}